body {
    background-color: #fff;
}

.banner-text {
    /* font-family: 'Pacifico', cursive; */
}

.carousel-inner .carousel-item img {
    opacity: 0.5;
}

.carousel-inner {
    background-color: #000;
}

.btn2 {
    color: rgb(255 255 255 / 62%);
    border: none;
    font-size: 20px;
    background: transparent;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn2:hover {
    /* background: #2196f3; */
    text-decoration: none;
}

.banner-before-slider {
    width: 100%;
    position: relative;
    width: 100%;
    height: 150px;
    display: block;
    /* background-color: #000; */
}

.banner-before-slider::after {
    content: "";
    background-size: cover;
    background-position-y: -153px;
    background-image: url('../assets/uploads/files/batik.jpg');
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.img-banner {
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.sosmed-header {
    color: #ecf0f1;
    transition: color .4s, background-color .4s, border-color .4s, box-shadow .4s;
}

.sosmed-header-instagram:hover {
    color: #9b59b6;
}

.sosmed-header-youtube:hover {
    color: #e74c3c;
}

.sosmed-header-twitter:hover {
    color: #2980b9;
}

.btn-primary {
    background: #42a6f5;
}

.btn-primary:hover {
    background: #0d87e9;
    background-color: #0d87e9;
}

#scrolltop {
    display: none;
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
}

.footer-bottom-black{
    width:100%;
    background-color: #34495e;
    margin-top: 200px;
    min-height: 300px;
    color:#fff;
    font-size: 18px;
    /* letter-spacing: 10px; */
}
.social-footer{
    font-size: 50px;
    letter-spacing: 15px;
}

.social-footer a{
    color: #fff;
}

.footer-bottom-black p{
    font-size: 15.7px;
    text-align: justify;
}

.footer-bottom-black .bawah{
    margin-bottom: 0px;
}