body {
    text-shadow: 0px 0px 1px;
    font-family: 'Roboto', sans-serif;
}

.banner-text {
    /* font-family: 'Pacifico', cursive; */
}

.navbar {
    padding: 10px 10px;
    font-size: 15px;
}

.carousel-inner .carousel-item img {
    opacity: 0.5;
}

.carousel-inner {
    background-color: #000;
}

.btn2 {
    color: rgb(255 255 255 / 62%);
    border: none;
    font-size: 20px;
    background: transparent;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn2:hover {
    /* background: #2196f3; */
    text-decoration: none;
}

.header-top-dark {
    background-color: #34495e;
    color:rgba(255, 255, 255, 0.623);
}

.banner-before-slider {
    width: 100%;
    position: relative;
    width: 100%;
    height: 150px;
    display: block;
    /* background-color: #000; */
}

.banner-before-slider-img {
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.img-banner {
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.sosmed-header {
    color: #ecf0f1;
    transition: color .4s, background-color .4s, border-color .4s, box-shadow .4s;
}

.sosmed-header-instagram:hover {
    color: #9b59b6;
}

.sosmed-header-youtube:hover {
    color: #e74c3c;
}

.sosmed-header-twitter:hover {
    color: #2980b9;
}

.btn-primary {
    background: #42a6f5;
}

.btn-primary:hover {
    background: #0d87e9;
    background-color: #0d87e9;
}

#scrolltop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
}

.footer-bottom-black {
    width: 100%;
    background-color: #34495e;
    margin-top: 200px;
    min-height: 300px;
    color: rgb(255 255 255 / 60%);
    font-size: 18px;
    /* letter-spacing: 10px; */
}

.social-footer {
    font-size: 50px;
    letter-spacing: 15px;
}

.sosmed-transition {
    color: #ecf0f1;
    transition: color .4s, background-color .4s, border-color .4s, box-shadow .4s;
}

.sosmed-transition-instagram:hover {
    color: #9b59b6;
    text-shadow: 0px 0px 5px;
}

.sosmed-transition-youtube:hover {
    color: #e74c3c;
    text-shadow: 0px 0px 5px;
}

.sosmed-transition-twitter:hover {
    color: #2980b9;
    text-shadow: 0px 0px 5px;
}

.social-footer a {
    color: #fff;
}

.footer-bottom-black p {
    font-size: 15.7px;
    text-align: justify;
}

.footer-bottom-black .bawah {
    margin-bottom: 0px;
}

main[role=main] {
    color: rgb(0 0 0 / 48%);
}